* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
  }
  
  .footer-container {
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .footer-img:hover {
    cursor: pointer;
  }
  
  .footer-container p {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
  }